body{
    background-color: #006B38FF;
}
h2{
    padding: 0 0 10px 100px;
}

.container{
    
    margin : 80px auto 70px auto;
    width: 420px;
    border-radius: 10px;
    padding: 12px 0 0 60px;
    background-color: #101820FF;
    color:#fff;
    height:auto;
    font-family: 'Arimo', sans-serif;
    box-shadow: 5px 10px 30px -10px #000;
    border: 5px solid #101820FF;
}
.input-field{
    margin:20px;
    display: flex;
}
.btn{
    /* padding: 20px 0 25px 110px; */
    /* font-family: 'Arimo', sans-serif;
    margin:0px 50px 30px -20px;
    font-size: 15px;
    height: 30px;
    width:100px;
    border:none;
    border-radius: 15px; */
   
    display: flex;
    width: 260px;
    margin: 35px 0 20px 45px;
    /* padding: 10px 0 20px 10px; */
    justify-content: space-around;
}
/* .btn{
    border: none;
    background-color: #006B38FF;
    color:white;
} */
.resetbtn{
    margin: 0 10px;
}
button{
    font-family: 'Arimo', sans-serif;
    font-size: 15px;
    height: 30px;
    width:100px;
    border:none;
    border-radius: 15px;
}
button:hover{
    background-color: #006B38FF;
    color:white;
    border:1px solid black;
}

.labelname{
    width:100px;
}


input[type="text"],input[type="email"],input[type="password"],textarea{
    height:25px;
    width: 210px;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
}
  

table {
    margin-left: 60px;
    border-collapse: collapse;
    width: 90%;

  }
  
  th, td {
    text-align: center;
    padding: 8px;
    color:white;
  }
th{
    background-color: #101820FF;
    color: #fff;
}
  
  /* tr:nth-child(even) {background-color: #e6e1e1; } */

span{
    color: red;
    margin: 2px;
    font-size: 12px;
}

.err{
    display: none;
}
